.page footer {
  margin-top: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.body {
  width: 960px;
  margin-top: 0;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 6px;
  text-align: center;
  margin: 20px;

  transition: box-shadow 0.6s;
  width: 90%;
}
.description:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    0px 3px 11px 9px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 10px 13px -7px #000000, 0px 3px 11px 9px rgba(0, 0, 0, 0.08);
}
.description p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 4px;
  width: 95%;
}
.description h1 {
  height: 45px;
  font-family: Saira, sans-serif;
  margin-top: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 28px;
}
.description a {
  color: rgb(240, 76, 240);

  margin-top: 10px;
  margin-bottom: 5px;
  text-align: right;
  font-size: 19px;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .body {
    width: 100%;
  }
  .projects {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .projects div {
    width: 400px;
    height: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .body {
    width: 100%;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
