.page footer {
  margin-top: 0;
}
.page Header {
  margin-bottom: 12px;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0;
  background-image: linear-gradient(
    135deg,
    #ffffff 38.46%,
    #f5f55d 38.46%,
    #f5f55d 42.79%,
    #000000 42.79%,
    #000000 50%,
    #ffffff 50%,
    #ffffff 88.46%,
    #f5f55d 88.46%,
    #f5f55d 92.79%,
    #000000 92.79%,
    #000000 100%
  );
  background-size: 147.08px 147.08px;
}
.projects {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Sahitya, sans-serif;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid #3d38466e;
  border-radius: 6px;
  text-align: center;
  margin: 35px;
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 0.6s;
}
.description p {
  font-size: 22px;
  margin-bottom: 0;
  width: 95%;
}
.description h1 {
  background-color: rgba(206, 0, 0, 0.61);
  color: white;
  height: 45px;
  font-family: Saira, sans-serif;
  margin-top: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 28px;
}
.description a {
  color: rgb(240, 76, 240);

  margin-top: 10px;
  text-align: right;
  font-size: 19px;
  font-weight: bold;
}

.description:hover {
  border: 3px solid rgba(206, 0, 0, 0.61);
  box-shadow: -7px 47px 56px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 47px 56px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 47px 56px -12px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 480px) {
  .projects {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .projects div {
    width: 400px;
    height: auto;
    box-shadow: -7px 47px 56px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -7px 47px 56px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 47px 56px -12px rgba(0, 0, 0, 0.75);
  }
}
