.footer {
  width: 100%;
  background-color: rgba(207, 0, 0, 0.61);
  margin-top: 70px;
  color: white;
  font-family: Saira, sans-serif;
}

.footer h2 {
  font-size: 32px;
  margin: 0 60px 0 50px;

  padding-top: 10px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 60px;
}
.contents ul {
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 0;
}
.contents li {
  margin-bottom: 4px;
}
.icons {
  display: flex;
  justify-content: start;
  font-size: 28px;
}
.social {
  width: 30px;
}
.icons svg {
  margin: 10px 20px 0px 0;
}

.footer p {
  font-size: 16px;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  text-align: right;
}
@media only screen and (max-width: 480px) {
  .contents {
    margin-left: 8px;
  }
  .footer h2 {
    font-size: 32px;
    margin-left: 8px;
  }
  .contents ul {
    font-size: 18px;
  }
}
