.projectBody {
  width: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectBody h1 {
  font-size: 50px;
  font-family: Saira, sans-serif;
}
.projectBody h3 {
  background-color: #005aaf;
  border: 2px solid #ffffff;
  font-weight: normal;
  padding: 4px 9px 4px 9px;

  color: white;
  border-radius: 5px;
}
.display {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  height: 388px;
  width: 450px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 1s, height 1s;
  border-radius: 6px;
  box-shadow: 5px 5px 15px 5px #2c2b2b50;
}
.meetup {
  background-image: url('../../public/meetup.png');
  max-width: 100%;
  max-height: 100%;
}
.movieCompare {
  background-image: url('../../public/movieCompare.png');
  max-width: 100%;
  max-height: 100%;
}
.unsplash {
  background-image: url('../../public/unsplash.png');
  max-width: 100%;
  max-height: 100%;
}
.wikiSearch {
  background-image: url('../../public/wikiSearch.png');
  max-width: 100%;
  max-height: 100%;
}

.description {
  display: none;
  width: 450px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.description p {
  width: 85%;
  font-size: 22px;
  margin-top: 0;
}
.description h1 {
  font-size: 32px;
  margin-top: 5px;
  color: white;
  margin-bottom: 0;
}
.description a {
  color: rgb(240, 76, 240);

  margin-top: 4px;
  text-align: right;
  font-size: 19px;
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  .card:hover .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .meetup:hover {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.726),
        rgba(0, 0, 0, 0.842)
      ),
      url('../../public/meetup.png');
  }
  .movieCompare:hover {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.726),
        rgba(0, 0, 0, 0.842)
      ),
      url('../../public/movieCompare.png');
  }
  .unsplash:hover {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.726),
        rgba(0, 0, 0, 0.842)
      ),
      url('../../public/unsplash.png');
  }
  .wikiSearch:hover {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.726),
        rgba(0, 0, 0, 0.842)
      ),
      url('../../public/wikiSearch.png');
  }
  .projectBody h3:hover {
    background-color: white;
    color: #005aaf;
    border: 2px solid #005aaf;
    font-weight: bold;
  }
}

@media screen and (max-width: 992px) {
  .display {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .projectBody {
    width: 100%;
  }

  .card {
    transition: none;
    border: none;
    width: 400px;
    margin: 0;
    margin-top: 40px;

    background: #292a2c;
    background: -moz-linear-gradient(-45deg, #292a2c 0%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #292a2c 0%, #000000 100%);
    background: linear-gradient(135deg, #292a2c 0%, #000000 100%);
  }
  .display {
    display: grid;
    grid-template-columns: 1fr;
  }
  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .description h1 {
    margin-bottom: 8px;
    font-size: 26px;
  }
  .description p {
    font-size: 20px;
    text-align: center;
  }
  .description a {
    color: rgb(240, 76, 240);
    width: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
  }
  .projectBody h3 {
    margin-top: 40px;
  }
}
